In [8]:
import pandas as pd
import seaborn as sns

In [9]:
data = pd.read_csv('olympic_equestrians.csv')

In [10]:
data = data.iloc[:744]

In [12]:
data.drop(columns=['slug_game', 'event_title','event_gender','participant_type','participant_title','athlete_url','country_name','country_code','country_3_letter_code'])

  discipline_title medal_type          athlete_full_name
0       Equestrian       GOLD            Julia KRAJEWSKI
1       Equestrian     SILVER                 Tom MCEWEN
2       Equestrian     BRONZE                 Andrew HOY
3       Equestrian     SILVER              Isabell WERTH
4       Equestrian       GOLD  Jessica VON BREDOW-WERNDL
5       Equestrian     BRONZE         Charlotte DUJARDIN
6       Equestrian     SILVER           Peder FREDRICSON
7       Equestrian       GOLD                  Ben MAHER
8       Equestrian     BRONZE     Maikel VAN DER VLEUTEN