In [22]:
import requests 
import pandas as pd
import seaborn as sns

In [23]:
data = pd.read_csv('olympic_equestrians.csv')

In [24]:
data.drop(columns=['slug_game', 'event_title','event_gender','participant_type','participant_title','athlete_url','country_name','country_code','country_3_letter_code'], axis = 0, inplace=True)

In [25]:
top = data.sort_values(by='medal_type', ascending=False)
top20 = top[:20]

In [27]:
top20

   discipline_title medal_type          athlete_full_name
1        Equestrian     SILVER                 Tom MCEWEN
3        Equestrian     SILVER              Isabell WERTH
15       Equestrian     SILVER           Peder FREDRICSON
13       Equestrian     SILVER                        NaN
7        Equestrian     SILVER                        NaN
10       Equestrian     SILVER                        NaN
0        Equestrian       GOLD            Julia KRAJEWSKI
16       Equestrian       GOLD                  Ben MAHER
12       Equestrian       GOLD                        NaN
9        Equestrian       GOLD                        NaN
6        Equestrian       GOLD                        NaN
4        Equestrian       GOLD  Jessica VON BREDOW-WERNDL
8        Equestrian     BRONZE                        NaN
11       Equestrian     BRONZE                        NaN
5        Equestrian     BRONZE         Charlotte DUJARDIN
14       Equestrian     BRONZE                        NaN
2        Equestrian     BRONZE                 Andrew HOY
17       Equestrian     BRONZE     Maikel VAN DER VLEUTEN