In [6]:
import pandas as pd
import seaborn as sns

In [7]:
data = {'Gold':  ['Julia Krajewski', 'Ben Maher', 'Jessica Von Bredow-Werndl'],
        'Silver': ['Tom Mcewen', 'Isabell Werth', 'Peder Fredricson'],
        'Bronze': ['Charlotte Dujardin','Andrew Hoy','Maikel Van Der Vleuten']
        }

data = pd.DataFrame(data)

In [8]:
data

                        Gold            Silver                  Bronze
0            Julia Krajewski        Tom Mcewen      Charlotte Dujardin
1                  Ben Maher     Isabell Werth              Andrew Hoy
2  Jessica Von Bredow-Werndl  Peder Fredricson  Maikel Van Der Vleuten

In [ ]:
top20 = top[:20]

In [11]:
sns.barplot(data= top20,x = 'Gold', y = 'Silver', )

NameError: name 'top20' is not defined